doctype html
html(lang="en")
  block main_vars
  
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    title= "Data science and me"
    each css in css_main || []
      link(rel="stylesheet", href=css)

  - var gameUrl = "../game"

  body
    script.
    .wrapper
      header.header
        .container
          .header__body
            a.header__logo(href="about.html")
              img#logo(src="", alt="Logo")
            .header__burger
              span.span1
              span.span2
              span.span3
            nav.header__menu
              ul.header__list
                li: a.header__link(href="about.html") Me
                li: a.header__link(href="") Projects
                li: a.header__link(href=gameUrl) DARTs!
                li: a.header__link(href="photo.html") Photography
                li: a.header__link(href="contact.html") Contact
      .content
        .container
          main 
            block content

    each js in js_main || []
      script(src=js)

    footer.footer
      .footer__body
        .footer__text
          p &copy; 2024 Yelchaninov