*,* ::before ,* ::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

$color-background: #000;
$color-hover: #909090;
$color-main: #f4f4f4;

$color-background: black;
$color-header: #212121;

$span1: #BF00FF;
$span2: #FF4545;
$span3: #FFFF00;

$font-stack: 'Didot', sans-serif;
$font-size-base: 16px;
$font-size-25: 2.5rem;
$font-size-20: 2rem;
$font-size-175: 1.75rem;
$font-size-15: 1.5rem;
$font-size-125: 1.25rem;
$font-size-10: 1rem;
$font-size-075: 0.75rem;

$header-height: 100px;
$header-height-sm: 70px;


html, body {
    height: 100%;
    font-family: $font-stack;
    background-color: $color-background;
}
body.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    background-color: $color-background;
}

.wrapper {}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-background;
    z-index: 2;
}
.header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: $color-header;
    z-index: 2;
    opacity: 0.9;
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
}
@keyframes dropDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header__logo{
    flex: 0 0 $header-height*0.7;
    position: relative;
    z-index: 3;
    animation: dropDown 0.3s ease-out 0s;
    opacity: 0;
    animation-fill-mode: forwards;
    left: 2%;
    img {
        max-width: 100%;
        display: block;
    }
}
.header__burger{
    display: none;
    .span2 {
        background-color: $span2;
    }
}

.header__menu{
    padding-right: 5%;
}

.header__list{
    display: flex;
    position: relative;
    z-index: 2;
    li {
        list-style: none;
        margin: 0 0 0 20px;
    }
    a {
        font-size: $font-size-base;
        text-transform: uppercase;
        color: $color-main;
        text-decoration: none;
    }
}

.header__link{
    color: $color-main;
    text-decoration: none;
    font-size: $font-size-base;
    text-transform: uppercase;
}

.header__link:hover{}

@media screen and (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: $header-height-sm;
    }
    .header__logo {
        flex: 0 0 $header-height-sm*0.7;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
            top: 9px;
        }
    }
    .header__burger::before {
        content: '';
        position: absolute;
        background-color: $color-main;
        height: 2px;
        left: 0;
        width: 100%;
        transition: all 0.3s ease 0s;
    }
    .header__burger::after {
        content: '';
        position: absolute;
        background-color: $color-main;
        height: 2px;
        left: 0;
        width: 100%;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        background-color: $span1;
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        background-color: $span3;
        bottom: 9px;
    }
    .header__burger.active span {
        transform: rotate3d(0, 1, 0, 90deg);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: $color-background;
        padding-top: $header-height-sm + 40px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
        text-align: center;
        li {
            margin: 0 0 20px 0;
        }
    }
}


.content {
    min-height: 100vh;
    height: 100%;
    padding-top: $header-height + 20px;
    background-color: $color-background;
    color: $color-main;
}

@media screen and (max-width: 768px) {
    .content {
        padding-top: $header-height-sm + 20px;
    }
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 10px 0 10px 0;
    background-color: $color-hover;
}
.footer__body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__text {
    font-size: $font-size-10;
    // text-transform: uppercase;
    color: $color-main;
    text-align: center;
}