<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dima Yelchaninov</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>Dima Yelchaninov</h1>
            <nav>
                <div id="menu" class="menu">
                    <ul>
                        <li><a href="index.html">About Me</a></li>
                        <li><a href="index.html#projects">Projects</a></li>
                        <li><a href="game.html">DARTs!</a></li>
                        <li><a href="photo.html">Photography</a></li>
                        <li><a href="people.html">Who Am I Proud Of</a></li>
                        <li><a href="index.html#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="burger" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </header>
    <main class="game-container">
        <!-- Image Display and Drag-and-Drop Area -->
        <div class="image-wrapper" id="image-wrapper">
            <img src="{{ url_for('static', filename='images/title.png') }}" alt="Dartboard" class="game-image" id="dartboard">
            <form id="upload-form" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file-input" style="display:none;" accept="image/*">
            </form>
        </div>
    
        <!-- Carousel container (hidden initially) -->
        <div class="carousel" id="carousel" style="display: none;">
            <div class="carousel-images">
                <img src="" alt="Processed Image" id="carousel-processed" class="carousel-image">
                <img src="" alt="Initial Image" id="carousel-initial" class="carousel-image">
            </div>
            <form id="upload-form-carousel" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file-input-carousel" style="display:none;" accept="image/*">
            </form>
        </div>
    
        <!-- Move the carousel control buttons outside the carousel container -->
        <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
        <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
    </main>
    <footer>
        <p>&copy; 2024 Yelchaninov</p>
    </footer>

    <!-- Include the external script for drag-and-drop, AJAX, and rotation -->
    <script src="{{ url_for('static', filename='js/rotate_img.js') }}"></script>
    <script src="{{ url_for('static', filename='js/burger.js') }}"></script>
</body>
</html>